*{
	padding: 0;
	margin: 0;
}

html{
	padding: 0;
	margin: 0;
}
body{
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	/*background-image: url('https://cdn.pixabay.com/photo/2015/07/05/13/35/graffiti-832341_960_720.jpg');*/
	/*background-image: url('https://cdn.pixabay.com/photo/2017/12/05/21/53/racing-bike-3000441_960_720.jpg');*/
	/*background-image: url("https://cdn.pixabay.com/photo/2016/07/31/15/00/background-1559050_960_720.jpg");*/
	/*background-repeat: no-repeat;
	background-position: center;
	background-size: cover;*/
	background-attachment: fixed;
}

/*HOMEPAGE*/


.container{
	width: 90vw;
	overflow: hidden;
	box-sizing: border-box;
	margin: 1px auto;
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows:1fr 1fr 1fr 1fr;
	grid-template-areas: 'a1'
						 'b1'
						 'c1'
						 'd1';
}
.home{	
	width: 100%;
	height: 88vh;
	border: 3px solid #ccc;
	margin: 35px auto;
	padding:2px;
	overflow: hidden;
	box-sizing: border-box;
}
.logo{
	width: 140px;
	height: 140px;
	float: left;
	position: relative;
	top: -3%;
}
.title{
	width: 50vw;
	height: 10vh;
	float: left;
	padding-top: 20px;

}
.title p{
 font-size: 52px;
 padding-bottom: 20px;
 border-bottom: 5px solid #000;
 font-family: 'Amaranth', sans-serif;
 color: #000;
 
}

.box{
	position: absolute;
	top: 23%;
	left: 18%;
	width: 15vh;
	height: 40vh;
	margin-top: 30px;
}
.slide{
	
	display: grid;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr;
	grid-template-areas:
				'a',
				'b',
				'c';
	
}

.slideA{
	transform: translateX(0);
	transition: all 1s ease-in;
	border: 2px solid black;
	grid-area: a;
	width: 680px;
	height: 120px;
	margin-bottom: 10px;
	background-color: transparent;
	color: #000;
	font-size: 40px;
	text-align: center;
	font-weight: 700;

}
.slideB{
	transform: translateX(0);
	transition: all 1s ease-in;
	border: 2px solid black;
	margin-bottom: 10px;
	grid-area: b;
	width: 680px;
	height: 120px;
	color: #000;
	text-align: center;
	font-size: 45px;


}

#mainpara{
	padding-top: 30px;
	font-family: 'Great Vibes', cursive;
   
}
.para{
	padding-top: 30px;
	font-family: 'Great Vibes', cursive;
}
.slideC{
	transform: translateX(0);
	transition: all 1s ease-in;
	border: 2px solid black;
	grid-area: c;
	width: 680px;
	height: 120px;
	margin-bottom: 10px;
	background-color: transparent;
	color: #000;
	font-size: 45px;
	text-align: center;
	font-weight: 600;

}

.hamburger{
	position: absolute;
	top: 7%;
	left: 75%;
	width: 20vw;
	height: 80vh;
	box-sizing: border-box;
	overflow: hidden;
}

#hamburger{
	position: inherit;
	left: 60%;
	width: 6vw;
	height: 4vh;
	text-decoration: none;
	font-size: 4em;
	color: #000;
	transition: all 0.7s ease;
	margin: 30px;
}

.menu{
	position: absolute;
	top: 20%;
	left: 90%;
	transform: translateX(50px);
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	text-decoration: none;
	box-sizing: border-box;
	}
	
	
.menu a{
	color: #000;
	border: 2px solid black;
	text-align: center;
	text-decoration: none;
	background-color: #fff;
	width: 100px;
	padding: 20px;
	font-family: 'Amaranth', sans-serif;
	

}
.contract{
	font-size: 2.3em !important;
}
.normalize{
	transform: translateX(-80px) !important;
}
.appear{
	transform:translateX(-160px);
}


.menuA{
	transition: all 0.7s ease-in 0s;
}
.menuB{
	transition: all 0.7s ease-in 0.2s;
}
.menuC{
	transition: all 0.7s ease-in 0.4s;
}
.menuD{
	transition: all 0.7s ease-in 0.6s;
}



/*DEFINING GRID AREAS*/

.home{
	grid-area: a1;
}
.about{
	grid-area: b1;
}
.work{
	grid-area: c1;
}
.contact{
	grid-area: d1;
}



/*ABOUT PAGE*/

.about{
	box-shadow: -5px 5px 3px #444;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 90vh;
	border: 2px solid #ccc;
	margin: 25px auto 0 auto;
	padding:10px;
	display: block;
	font-family: 'Amaranth', sans-serif;
	box-sizing: border-box;
}
#line1{
	font-size: 3rem;
	padding: 8px 0 20px 0;
	position: relative;
	left: 44%;

}

#boxone{
	padding: 30px 20px 0px 20px;
	position: relative;
	left: 30%;
	background-color: #000;
	color: #fff;
	text-align: center;
	width: 350px;
	letter-spacing: 2px;
	height: 280px;
	font-size: 20px;
	box-sizing: border-box;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow: 4px 4px 8px #000;
}
#line2{
	font-size: 2rem;
	padding: 20px 0 25px 0;
	position: relative;
	left: 15%;
	bottom: 10%;
}
#boxtwo{
	padding: 20px 20px 0px 20px;
	position: relative;
	bottom: 12%;
	left: 2%;
	background-color: #000;
	color: #fff;
	text-align: center;
	width: 400px;
	box-shadow: 4px 4px 8px #000;
	letter-spacing: 2px;
	height: 190px;
	font-size: 19px;
	box-sizing: border-box;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	overflow: hidden;
}
/*WORK PAGE*/

.work{
	
	width: 100%;
	height: 90vh;
	border: 3px solid #444;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	box-shadow: 4px 4px 8px #000;
	margin:25px auto;
	padding:10px;
	box-sizing: border-box;
}
#workdetails{
	font-size: 50px;
	text-align: center;
	font-family: 'Amaranth', sans-serif;
}

/*CONTACT PAGE*/


.contact{
	box-shadow: 4px 4px 8px #000;
	width: 100%;
	height: 90vh;
	border: 2px solid #222;
	margin: 25px auto;
	padding:10px;
	box-sizing: border-box;
	
}
#contactdetails{
	text-align: center;
	display: block;	
	line-height: 200%;
	font-size: 50px;
	font-family: 'Amaranth', sans-serif;
}